body {
  font-family: 'Fira Code', sans-serif;
  margin: 0;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
}

.header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.header-menu li {
  margin-right: 15px;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu a {
  color: #333333;
  text-decoration: none;
  position: relative;
}

.header-menu a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.header-menu li:hover {
  transform: scale(1.1);
}

.header-menu li:hover a::after {
  background-color: #b3b3b3;
}

.header-title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.header-profile {
  margin-left: auto;
}

.header-profile a {
  color: #333333;
  text-decoration: none;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.header-profile a:hover {
  transform: scale(1.1);
}

.header-profile a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;